services:
  postgres:
    image: postgres:15
    container_name: postgres_java_spring
    environment:
      POSTGRES_DB: machineshop
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      TZ: UTC
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: